#root {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

#wrap {
    width: 100%;
    margin: 0;
    padding: 70px 0;
}

.inner {
    width: 95%;
    margin: 0 auto;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    background-color: #f0f0f7;
}

#header > .inner {
    display: flex;
    height: 100%;
    align-items: center;
}

#header > .inner .logo {
    font-size: 3rem;
    margin-right: 10rem;
}

#header ul {
    display: flex;
}

#header ul li {
    margin-right: 4rem;
    font-size: 1.5rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f0f0f7;
}




